@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


body {
    background-color: rgb(181, 190, 117);
  }

  
  .headerrow {
    /* background-color: rgb(224, 243, 224); */
    font-family: 'Kdam Thmor Pro', sans-serif;
  }

  .messagePane {
    /* background-color: rgb(224, 243, 224); */
    font-family: 'Josefin Sans', sans-serif;
  }
  

  .join_room_response,
  .left_room_response {
    /* background-color: rgb(247, 247, 247); */
    color:rgb(87, 125, 69);
  }

  .chat_message {
    font-size: 100%;
    margin: 1px 1px 1px 1px;
    color: rgb(0, 0, 0);
  }

  table#game_board{
      background-color: rgb(0, 101, 1);
      border:2px solid black;
      margin: 0px;
      padding: 0px;
  }

  table#game_board td{
    border:1px solid black;
    margin: 0px;
    padding: 0px;
}

td.hovered_over:hover{
  background-image: url('/assets/images/hover.gif');
  max-width: 80%;
  height: auto;
}